/*reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: grey;
}

/*child decoration*/
input{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#orange{
    background-color: orange;
}
#purple{
    background-color: purple;
}